body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
    min-height: 100vh;
    padding: 60px 0;               
}

header {
    margin-bottom: 20px;
}

#mensaje {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    display: none; 
}

.exito {
    background-color: #4ade80;
    color: #064e3b;
}

.error {
    background-color: #f87171;
    color: #7f1d1d;
}
